/* footer */

.footer {
  background-color: var(--color-black);
  padding-top: 51px;
  padding-bottom: 45px;
}
.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__logo-link {
  margin-right: auto;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0;
}

.footer__social-item:not(:last-child) {
  margin-right: 20px;
}

.footer__social-item-link {
  transition: outline var(--short-line);
}

.footer__social-item-link path {
  transition: fill var(--short-line);
}

.footer__social-item-link:focus-visible {
  outline: none;
}

.footer__social-item-link:hover path,
.footer__social-item-link:focus-visible path {
  fill: var(--color-white);
}

.footer__social-item-link:active path {
  fill: var(--color-amethyst);
}

@media (max-width: 1280px) {
  .footer__social-item-link svg {
    width: 60px;
    height: 60px;
  }

  .footer__social-item:not(:last-child) {
    margin-right: 30px;
  }

  .footer {
    padding-top: 46px;
    padding-bottom: 41px;
  }

  .footer__container {
    align-items: center;
  }
}

@media (max-width: 970px) {
  .footer {
    padding-top: 41px;
    padding-bottom: 41px;
  }
}


@media (max-width: 610px) {
  .footer__container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .footer__social-item-link svg {
    width: 50px;
    height: 50px;
  }

  .footer__social-list {
    margin-bottom: 20px;
  }

  .footer {
    padding-top: 21px;
    padding-bottom: 14px;
  }

  .footer__logo-link {
    width: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
