
/* .modals {
  display: none;
} */



.modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.modal {
  max-width: 900px;
  height: 500px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.8);
  flex-direction: row;
  display: none;
}

.modal__big-image img {
  font-size: 0;
  float: left;
  height: 100%;
}

.modal__content-image {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 121px 50px;
}

.modal__window-close-btn {
  position: absolute;
  top: 4%;
  right: 4%;
}

.modal__name-painter {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-like-black);
}

.modal__picture-painter {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-like-black);
}

.modal__painted-picture {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #969696;
  margin-bottom: 33px;
}

.modal__content-picture {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-like-black);
}


.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all var(--short-line);
}

.modal--visible {
  display: flex
}

