:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-like-black: #333333;
  --color-grey: #999999;
  --color-amethyst: #9D5CD0;
  --color-crayola: #7943a4;
  --color-violet: #c283f3;
  --color-light-violet: #91A9F0;
}

@media (max-width: 1660px) {

  .container {
    max-width: 1660px;
    padding-left: 75px;
    padding-right: 75px;
  }

  .catalog__tabs-nav {
    height: 385px;
  }

  .events {
    padding: 40px 50px;
  }

  /* .events__article-item-descr {
    min-height: 370px;
  } */

  .catalog__tabs-img {
    height: 440px;
  }

}


@media (max-width: 1440px) {

  .container {
    max-width: 1440px;
    /* margin: 0 auto; */
    padding-left: 50px;
    padding-right: 50px;
  }

  .header__logo-link {
    margin-right: auto;
  }

  .header__main-list {
    display: none;
  }

  .header-bottom-container {
    padding-top: 24px;
    padding-bottom: 21px;
  }

  .header__bottom-form {
    margin-left: auto;
  }

  .header__nav-item:not(:last-child) {
    margin-right: 15px;
  }

  .events__article-item-descr {
    min-height: 450px;
    padding-top: 14px;
    padding-left: 34px;
    padding-right: 34px;
  }

  .contacts__block-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .contacts__app {
    margin-left: 0;
  }



  .header__top-item:not(:last-child) {
    margin-right: 25px;
  }

  /* .events__article-item-descr {
    min-height: 450px;
  } */

  .events {
    padding: 40px 25px;
  }

  .catalog__tabs-img {
    height: 350px;
  }

}


@media (max-width: 1024px) {

  .container {
    max-width: 1024px;
    padding-left: 50px;
    padding-right: 50px;
  }

  /* .header__top-container {
    justify-content: space-between;
  } */

  .header__top {
    padding-top: 29px;
    padding-bottom: 28px;
  }

  .header__logo-link {
    margin-right: 0;
  }

  .header-bottom {
    display: none;
  }

  .header__btn-close,
  .header__btn-open,
  .header__btn-search {
    display: block;
    font-size: 0;
  }

  .header__search {
    display: block;
    z-index: 14;
  }

  .header__top-logo {
    width: 187px;
    margin-right: 5px;
  }


  /* .top-wrapper {
    position: relative;
    overflow: hidden;
  } */

  .header__nav-list {
    flex-direction: column;
    display: block;
    margin-bottom: auto;
  }

  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 37px 50px 51px 44px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: unset;
    width: 100%;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
    visibility: hidden;
    z-index: 15;
  }

  .header__nav.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;

  }

  .header__come-in-link {
    margin-left: 0;
  }

  .header__nav-item-link {
    font-weight: 600;
    font-size: 24px;
    line-height: 64px;
    color: #FFFFFF;
  }

  .header__btn-close {
    margin-left: 6px;
    margin-bottom: 30px;
  }

  .header__come-in-link {
    border: 2px solid var(--color-amethyst);
    font-weight: 600;
    padding: 15px 93px 15px 86px;
    border-radius: 100px;
    background-color: transparent;
    margin-left: 6px;
  }

  .header__btn-close rect {
    transition: fill .3s ease-in-out;
  }

  .header__btn-close:focus-visible {
    outline: none;
  }

  .header__btn-close:focus-visible rect,
  .header__btn-close:hover rect {
    fill: var(--color-toolpit);
  }

  .header__btn-close:active rect {
    fill: var(--color-focus-active);
  }

  .form__active {
    transform: translate(0, -50%);
    opacity: 1;
    visibility: visible;
  }

  .header__form-input {
    width: 218px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);;
    padding: 5px;
    margin: 0px 24px 0px 10px;
    color: var(--color-white);
  }

  .header__form-btn-close,
  .header__form-btn-submit {
    font-size: 0;
  }

  .header__form-btn-close {
    margin-top: 5px;
  }

  .hero-container {
    padding-top: 113px;
  }

  .hero-container__title {
    margin-bottom: 12px;
  }

  .hero-container__text {
    max-width: 655px;
    margin-bottom: 155px;
  }



  .section-gallery {
    height: 560px;
    background-image: url("../img/gallery/background-image-1024.jpg");
  }

  .gallery__left-block {
    width: 30.3%;
  }

  .gallery__right-block {
    width: 64.2%;
  }

  .gallery__swiper .gallery__swiper-wrapper {
    height: 315px;
  }

  .gallery__select-block {
    margin-bottom: 107px;
  }

  .catalog__accordion-content,
  .catalog__tabs-content {
    width: 47.3%;
  }

  .catalog__tabs-nav-item-paintes {
    margin-right: 66px;
  }

  .catalog__accordion-bottom-block {
    padding: 21px 0;
    padding-top: 30px;
  }

  .catalog__accordion-bottom-box {
    width: 389px;
    height: 112px;
  }

  .catalog__tabs-item-common-text {
    padding-right: 5px;
  }

  .catalog__tabs-item-common-text-title {
    margin-bottom: 9px;

  }

  .catalog__tabs-item-common-text-descr {
    line-height: 22px;
  }

  .catalog__tabs-img {
    height: 274px;
    background-image: url('../img/catalog/Frame\ 34.svg');
  }

  .events {
    padding: 40px 25px;
  }

  .events__article-item img {
    height: 200px;
  }

  .events__article-item-event {
    text-align: right;
    margin-bottom: 2px;
  }

  .events__article-item-title {
    margin-bottom: 7px; }


  .events__article-item-descr {
    min-height: 417px;
    padding-top: 14px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 50px;
  }

  .events__article-item-descr--5 {
    padding-right: 30px;
  }

  .events__article-item-title--5 {
    margin-bottom: 3px;
  }

  .events__swiper-pagination {
    display: block;
    text-align: center;
  }

  .events__swiper-wrapper {
    margin-bottom: 7px;
  }

  .events__swiper-pagination .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,10px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,10px));
  }


  .events__swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,7.5px) !important;
  }

  .sw-bt-p {
    display: none;
  }

  .projects {
    padding-top: 38px;
    padding-bottom: 79px;
  }

  .projects__image-slide {
    max-width: 382px;
    height: 126px;
  }

  .projects__title {
    margin-bottom: 15px;
  }

  .contacts {
    padding-top: 42px;
    /* padding-bottom: 12px;  */
  }

  .contacts__adress {
    margin-bottom: 34px;
  }

  .contacts__form-btb {
    width: 344px;
  }

  .footer__social-item-link svg {
    width: 60px;
    height: 60px;
  }

  .footer {
    padding-top: 41px;
    padding-bottom: 40px;
  }

  .footer__container {
    align-items: center;
  }

  .footer__social-item:not(:last-child) {
    margin-right: 30px;
  }

}















