:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-like-black: #333333;
  --color-grey: #999999;
  --color-amethyst: #9d5cd0;
  --color-crayola: #7943a4;
  --color-violet: #c283f3;
  --color-light-violet: #91a9f0;
  --color-smoky-white: #ececec;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1440px;
    /* margin: 0 auto; */
    padding-left: 75px;
    padding-right: 75px;
  }

  .header__logo-link {
    margin-right: auto;
  }

  .header__main-list {
    display: none;
  }

  .header-bottom-container {
    padding-top: 22px;
    padding-bottom: 23px;
  }

  .header__bottom-form {
    margin-left: auto;
  }

  .header__nav-item:not(:last-child) {
    margin-right: 15px;
  }

  .catalog__accordion-content-wrap {
    height: 435px;
  }

  .catalog__tabs-nav-list {
    width: 100%;
    height: 100%;
  }

  .contacts {
    flex-direction: column;
    align-items: flex-start;
  }

  .contacts__form {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .contacts__form-group {
    margin-bottom: 11px;
  }

  .contacts__form {
    width: 100%;
    max-width: 100%;
  }

  /* .events__article-item-descr {
    min-height: 450px;
    padding-top: 14px;
    padding-left: 34px;
    padding-right: 34px;
  } */
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .header__top {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .header__logo-link {
    margin-right: 0;
  }

  .header-bottom {
    display: none;
  }

  .header__btn-close,
  .header__btn-open,
  .header__btn-search {
    display: block;
    font-size: 0;
  }

  .header__search {
    display: block;
    z-index: 14;
  }

  .header__logo-icon {
    width: 187px;
    margin-right: 5px;
  }

  .header__nav-list {
    flex-direction: column;
    display: block;
    margin-bottom: auto;
  }

  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 37px 50px 51px 44px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: unset;
    width: 100%;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
      visibility 0.3s ease-in-out;
    visibility: hidden;
    z-index: 15;
  }

  .header__nav.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .header__come-in-link {
    margin-left: 0;
  }

  .header__nav-item-link {
    font-weight: 600;
    font-size: 24px;
    line-height: 64px;
    color: #ffffff;
  }

  .header__btn-close {
    margin-left: 6px;
    margin-bottom: 30px;
  }

  .header__come-in-link {
    border: 2px solid var(--color-amethyst);
    font-weight: 600;
    padding: 15px 93px 15px 86px;
    border-radius: 100px;
    background-color: transparent;
    margin-left: 6px;
  }

  .header__btn-close rect {
    transition: fill 0.3s ease-in-out;
  }

  .header__btn-close:focus-visible {
    outline: none;
  }

  .header__btn-close:focus-visible rect,
  .header__btn-close:hover rect {
    fill: var(--color-toolpit);
  }

  .header__btn-close:active rect {
    fill: var(--color-focus-active);
  }

  .form__active {
    transform: translate(0, -50%);
    opacity: 1;
    visibility: visible;
  }

  .header__form-input {
    width: 218px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    padding: 5px;
    margin: 0px 24px 0px 10px;
    color: var(--color-white);
  }

  .header__form-btn-close,
  .header__form-btn-submit {
    font-size: 0;
  }

  .header__form-btn-close {
    margin-top: 5px;
  }

  .hero__container {
    padding-top: 113px;
    padding-bottom: 136px;
  }

  .hero__title {
    margin-bottom: 12px;
  }

  .hero__text {
    max-width: 655px;
    margin-bottom: 155px;
  }

  .about {
    padding-bottom: 69.5px;
  }

  .section-gallery {
    background-image: url("../img/gallery/background-image-1024.jpg");
  }

  .gallery {
    padding-bottom: 80px;
  }

  .gallery__left-block {
    width: 30.3%;
  }

  .gallery__right-block {
    width: 64.2%;
  }

  .gallery__form-check {
    margin-top: 0px;
  }

  .gallery__select-block {
    margin-bottom: 107px;
  }

  .catalog__accordion-content,
  .catalog__tabs-content {
    width: 47.3%;
  }

  .catalog__tabs-nav-list {
    align-content: space-between;
  }

  .catalog__accordion-bottom-box {
    width: 85%;
    height: 110px;
    margin-right: 37px;
  }

  /* .catalog__tabs-img {
    height: 274px;
    background-image: url("../img/catalog/image-1-1024.svg");
  } */

  .catalog__tabs-wrap-descr {
    width: 98%;
    line-height: 21.79px;
  }

  .events-title {
    margin-bottom: 17px;
  }

  .events__article-item img {
    height: 200px;
  }

  .events__article-item-event {
    text-align: right;
    margin-bottom: 4px;
  }

  .events__article-item-title {
    margin-bottom: 5px;
  }

  .events__article-item-descr {
    min-height: 413px;
    padding-top: 14px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 55px;
  }

  .events__article-item-descr--5 {
    padding-right: 30px;
  }

  .events__swiper-pagination {
    padding-top: 18px;
    display: block;
    text-align: center;
  }

  .events__swiper-wrapper {
    margin-bottom: 7px;
  }

  .swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: #666666;
  }

  .events__swiper-pagination .swiper-pagination-bullet {
    width: var(
      --swiper-pagination-bullet-width,
      var(--swiper-pagination-bullet-size, 10px)
    );
    height: var(
      --swiper-pagination-bullet-height,
      var(--swiper-pagination-bullet-size, 10px)
    );
  }

  div.swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0px var(--swiper-pagination-bullet-horizontal-gap, 8px);
  }

  .sw-bt-e {
    display: none;
  }

  .projects {
    padding-top: 38px;
    padding-bottom: 82px;
  }

  .projects__image-slide {
    height: 126px;
  }

  .projects__clider {
    padding-left: 52px;
    padding-right: 52px;
  }

  .projects__title {
    margin-bottom: 15px;
  }

  .contacts {
    padding-top: 42px;
    padding-bottom: 13px;
  }

  .contacts__adress {
    margin-bottom: 34px;
  }

  .contacts__form-btb {
    flex-basis: 343px;
  }

  .contacts__form {
    margin-bottom: 17px;
  }

  .footer__social-item-link svg {
    width: 60px;
    height: 60px;
  }

  .footer {
    padding-top: 41px;
    padding-bottom: 40px;
  }

  .footer__container {
    align-items: center;
  }

  .footer__social-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 992px) {
  .header__form {
    padding-top: 35px;
    padding-bottom: 33px;
    padding-left: 50px;
    padding-right: 50px;
    right: 0;
    left: 0;
    top: 49px;
    background-color: var(--color-black);
  }

  .header__form-input {
    width: 100%;
  }

  .header__form-btn-close {
    margin-top: 0px;
  }

  .header__form-btn-close svg {
    width: 29px;
    height: 29px;
  }

  .header__btn-search svg {
    width: 27px;
    height: 27px;
  }

  .header__logo-icon {
    margin-right: 9px;
  }

  .catalog__block-bottom {
    flex-direction: column-reverse;
  }

  .catalog__accordion-content,
  .catalog__tabs-content {
    width: 100%;
  }

  .catalog__block-top {
    margin-bottom: 21px;
  }

  .catalog__accordion-content-wrap {
    height: 340px;
  }

  .catalog__tabs-nav-item {
    margin-right: 0;
  }

  .catalog__accordion-content {
    margin-bottom: 48.5px;
  }

  .catalog__accordion-bottom-box {
    width: 252px;
    height: 165px;
  }

  .events {
    padding-top: 1px;
  }

  .events__article-item img {
    height: 100%;
  }

  .contacts__form {
    flex-wrap: wrap;
  }

  .contacts__form-group {
    flex-basis: 232px;
    margin-right: 0;
  }

  .contacts__form-group:first-child {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .gallery {
    flex-direction: column;
  }

  .gallery__left-block {
    width: 42.3%;
  }

  .gallery__select-block {
    margin-bottom: 41px;
  }

  .gallery__form-check {
    margin-bottom: 14px;
  }

  .gallery__right-block {
    width: 100%;
  }

  .catalog__tabs-nav-list {
    align-content: space-between;
  }

  .projects__descr {
    margin-bottom: 26px;
  }

  .projects__title-h3 {
    margin-bottom: 30px;
  }

  .projects__image-slide {
    height: 104px;
  }

  .projects__image-slide--1::before {
    width: 100%;
  }

  .projects__image-slide--2::before {
    width: 82%;
  }

  .projects__image-slide--3::before {
    width: 73%;
  }

  .projects__image-slide--4::before {
    height: 67%;
    top: 57%;
  }

  .projects__image-slide--6::before {
    width: 67%;
  }

  .projects__image-slide--7::before {
    width: 75%;
  }

  .projects__image-slide--8::before {
    height: 63%;
  }

  .projects__image-slide--9::before {
    width: 70%;
  }

  .contacts__form-btb {
    flex-basis: 317px;
    padding-left: 26px;
    padding-right: 29px;
  }

  .contacts__form {
    margin-bottom: 29px;
  }
}

@media (min-width: 576px) and (max-width: 766px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .hero__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__text {
    margin-bottom: 52px;
    max-width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__container {
    padding-top: 33px;
    padding-bottom: 57px;
    text-align: center;
  }

  .header__come-in-link {
    font-weight: 600;
    padding: 9.5px 29px 9px 28px;
    border-radius: 100px;
    background-color: transparent;
    margin-left: 6px;
  }

  .header__come-in-link svg {
    width: 10px;
    height: 10px;
    margin-right: 4px;
  }

  .header__come-in-link-text {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 576px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header__top {
    padding-top: 8px;
    padding-bottom: 11.06px;
  }

  .header__logo-icon {
    width: 96.8px;
    margin-right: 5px;
  }

  .header__btn-open svg {
    width: 25px;
    height: 18px;
  }

  .header__btn-search svg {
    width: 18px;
    height: 18px;
  }

  .hero__container {
    padding-top: 33px;
    padding-bottom: 57px;
    text-align: center;
  }

  .hero__title {
    margin-bottom: 13px;
    font-weight: 700;
    font-size: 32px;
    line-height: 36.8px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__text {
    margin-bottom: 51px;
    max-width: 94%;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__link {
    padding: 8.5px 13px;
    padding-left: 18px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
  }

  .header__nav {
    padding: 15px 50px 28px 11px;
  }

  .header__nav-item-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
  }

  .header__btn-close {
    margin-left: 5px;
    margin-bottom: 17px;
  }

  .header__btn-close svg {
    width: 15px;
    height: 15px;
  }

  .section-title {
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
  }

  .about {
    padding-top: 50px;
    padding-bottom: 41.5px;
  }

  .about__title {
    margin-bottom: 12px;
  }

  .about__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .header__come-in-link {
    font-weight: 600;
    padding: 9.5px 29px 9px 28px;
    border-radius: 100px;
    background-color: transparent;
    margin-left: 6px;
  }

  .header__come-in-link svg {
    width: 10px;
    height: 10px;
    margin-right: 4px;
  }

  .header__come-in-link-text {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }

  .header__form-btn-submit svg {
    width: 17px;
    height: 16px;
  }

  .header__form-btn-close svg {
    width: 15px;
    height: 15px;
  }

  .header__form-input {
    padding: 0;
    margin: 0px 34px 0px 2px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.85);
  }

  .header__form-btn-submit {
    padding-top: 7px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
  }

  .header__form {
    padding-top: 39px;
    padding-bottom: 18px;
    padding-left: 57px;
    padding-right: 15px;
    right: 0;
    left: 0;
    top: 35px;
  }

  .header__form-btn-close {
    margin-top: -50px;
  }

  .gallery {
    padding-top: 49px;
    padding-bottom: 20.1px;
  }

  .gallery__title {
    margin-bottom: 13px;
  }

  .gallery__select-title {
    margin-bottom: 5px;
  }

  .gallery__left-block {
    width: 100%;
  }

  .gallery__select-block {
    margin-bottom: 30px;
  }

  .gallery__form-check {
    margin-bottom: 5px;
  }

  .gallery__swiper {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
  }

  .gallery__swiper-wrapper {
    margin-bottom: 19px;
  }

  .gallery__swiper-right-btns {
    justify-content: center;
  }

  .catalog {
    padding-top: 50px;
    padding-bottom: 29px;
  }

  .catalog__text {
    display: none;
  }

  .catalog__item-period {
    font-size: 18px;
  }

  .catalog__title,
  .catalog__block-top {
    margin-bottom: 13px;
  }

  .catalog__accordion-btn {
    width: 30px;
    height: 30px;
  }

  .catalog__accordion-btn svg {
    width: 11px;
    height: 11px;
  }

  .catalog__accordion-top {
    padding-top: 19px;
    padding-bottom: 20.8px;
  }

  .catalog__accordion-content-wrap {
    padding-top: 25px;
    padding-bottom: 24px;
    height: 100%;
  }

  .catalog__tabs-wrap {
    padding: 21px 0;
  }

  .catalog__tabs-painter-name {
    margin-bottom: 13px;
  }

  .catalog__accordion-bottom-box {
    width: 188px;
    height: 113px;
  }

  .catalog__accordion-bottom-title {
    font-size: 18px;
  }

  .events-title {
    margin-bottom: 12px;
  }

  .events__article-item img {
    width: 100%;
    height: 100%;
  }

  .events__article-item {
    max-width: 100%;
  }

  .events__swiper-slide {
    max-width: 100%;
  }

  .events__article-item-descr {
    min-height: 411px;
    padding-top: 17px;
    padding-left: 22px;
    padding-right: 17px;
    padding-bottom: 54px;
  }

  .events__article-item-event {
    margin-bottom: 10px;
  }

  .events__article-item-link-text {
    margin-left: 6px;
  }

  .events__article-item-descr--2 {
    padding-top: 16px;
    padding-left: 34px;
  }

  .events__article-item-event--2 {
    margin-bottom: 3px;
  }

  .events__swiper-pagination {
    padding-top: 8px;
  }

  .events {
    padding-bottom: 20px;
  }

  .projects {
    padding-top: 26px;
    padding-bottom: 25px;
  }

  .projects__title {
    margin-bottom: 13px;
  }

  .projects__title-h3 {
    font-size: 18px;
    margin-bottom: 11px;
  }

  .projects__descr {
    margin-bottom: 9px;
  }

  .projects__image-slide {
    height: 63px;
  }

  .projects__clider {
    padding-left: 48px;
    padding-right: 47px;
  }

  .swiper-button-next-proj,
  .swiper-button-prev-proj {
    top: 59%;
  }

  .contacts__form-group:first-child {
    margin-right: 0;
  }

  .contacts__form-group {
    flex-basis: 0px;
    margin-bottom: 20px;
  }

  .contacts {
    padding-top: 28px;
  }

  .contacts__adress-1 {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 18px;
  }

  .contacts__adress-2 {
    font-size: 14px;
  }

  .contacts__adress {
    margin-bottom: 12px;
  }

  .contacts__form {
    flex-direction: column;
  }

  .contacts__form-input {
    max-width: 289px;
    height: 40px;
  }

  .contacts__form-btb {
    width: 128px;
    flex-basis: 40px;
    font-size: 12px;
    overflow: hidden;
    padding: 6px 21px 6px 20px;
  }

  .contacts__list-app-title {
    margin-bottom: 14px;
    font-size: 17px;
    line-height: 17px;
  }

  .contacts__form {
    margin-bottom: 27.8px;
  }

  .contacts__item-app-link svg {
    width: 50px;
    height: 50px;
  }

  .contacts__app {
    margin-bottom: 7px;
  }

  .map__block {
    height: 318px;
  }

  .footer__container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .footer__social-item-link svg {
    width: 50px;
    height: 50px;
  }

  .footer__social-list {
    margin-bottom: 20px;
  }

  .footer {
    padding-top: 21px;
    padding-bottom: 14px;
  }

  .footer__logo-link {
    width: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .tippy-arrow:before {
    display: none;
  }
}
