html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../fonts/OpenSansBold.woff2') format('woff2'),
		url('../fonts/OpenSansBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Light'), local('OpenSans-Light'),
		url('../fonts/OpenSansLight.woff2') format('woff2'),
		url('../fonts/OpenSansLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('../fonts/OpenSansRegular.woff2') format('woff2'),
		url('../fonts/OpenSansRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
		url('../fonts/OpenSansSemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
		url('../fonts/OpenSansExtraBold.woff2') format('woff2'),
		url('../fonts/OpenSansExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}


*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-like-black: #333333;
  --color-grey: #999999;
  --color-toolpit: #9D5CD0;
  --color-focus-active: #7943a4;
  --color-hover: #c283f3;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
}

ul {
  list-style-type: none;
}
/*
.flex {
  display: flex;
} */

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 160px;
}

.section-offset {
  padding-top: 40px;
  padding-bottom: 40px;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}


/* header__cap-top*/

.header__top {
  background-color: var(--color-black);
}

.header__item-link {
  color: var(--color-white);
}

.header__cap-top {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__logo {
  margin-right: 175px;
}

.header__item:not(:last-child) {
  margin-right: 54.5px;
}

.header__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__item-link {
  padding: 1px 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--color-white);
  margin-right: auto;
  transition-property: color, background-color, outline;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.header__link-personal-area {
  margin-left: auto;
  padding: 1px 6px;
  transition-property: background-color, outline;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.header__link-personal-area svg {
  margin-right: 1px;
}

.header__link-personal-area path {
  transition: fill .3s ease-in-out;
}

.header__link-personal-area-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  transition-property: color, background-color, outline;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.header__item-link:focus-visible {
  background-color: var(--color-focus-active);
  outline: none;
}

.header__item-link:hover {
  color: var(--color-hover);
  background-color: transparent;
}

.header__item-link:active {
  color: var(--color-focus-active);
}

.header__link-personal-area:focus-visible{
  background-color: var(--color-focus-active);
  outline: none;
}

.header__link-personal-area:hover {
  background-color: transparent;
}

.header__link-personal-area:hover span {
  color: var(--color-hover);
}

.header__link-personal-area:active span {
  color: var(--color-toolpit);
}

.header__link-personal-area:hover path {
  fill: var(--color-hover);
}

.header__link-personal-area:active path {
  fill: var(--color-toolpit);
}


/*header__cap-middle*/

.header__cap-middle {
  padding-top: 23px;
  padding-bottom: 22px;
  background: rgba(0, 0, 0, 0.4);
}

.header__direction-in-art-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__direction-in-art-item-btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--color-white);
}

.header__direction-in-art-item:not(:last-child) {
  margin-right: 113px;
}

/* header-cap-bottom */

.hero-container {
  padding-top: 71px;
  background-image: url('/img/hero/image-2.jpg');
  height: 630px;
}

.hero-container__title {
  max-width: 597px;
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 72px;
  line-height: 82.8px;
  color: var(--color-white);
}

.hero-container__text {
  max-width: 579px;
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-white);
}

.hero-container__link {
  padding: 19.5px 33px;
  background-color: var(--color-toolpit);
  border-radius: 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  border: 3px solid var(--color-toolpit);
  transition-property: border-color, outline, outline-offset, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.hero-container__link:focus-visible {
  outline-offset: 3px;
  outline: 2px solid var(--color-hover);
}

.hero-container__link:hover {
  border-color: #D1A9F0;
  outline: none;
}

.hero-container__link:active {
  background-color: var(--color-focus-active);
}

/*  about*/

.about-section {
  padding-top: 80px;
}

.about__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
}

.about__descr {
  max-width: 1086px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

/* gallery */

.gallery {
  height: 595px;
  background-image: url("../img/gallery/background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 80.5px;
  padding-bottom: 80px;
}

.section__gallery {
  padding-top: 30px;
}

.gallery__left-block {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gallery__right-block {
  width: 71.8%;
  padding-top: 25px;
}

.gallery__title {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-white);
}

.gallery__select-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 171px;
}

.gallery__select-title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

div.choices__inner {
  padding: 3px 16px;
  padding-bottom: 3px;
  background-color: transparent;
  border-radius: 6px;
  color: var(--color-white);
  vertical-align: middle;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  opacity: 1;
}

div.gallery__left-block > div > div > div.choices__inner > div {
  padding: 0;
}

.header_choices {
  opacity: 1;
}

div.choices__placeholder {
  opacity: 1;
}

.header_choices.is-open .choices__inner {
  border-radius: 6px;
  border: 1px solid var(--color-white)
}

.header_choices.choices[data-type*=select-one]:after {
  width: 15.69px;
  height: 15.69px;
  top: 40%;
  right: 15px;
  border: 0;
  background-image: url('../img/gallery/line-d.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  transition: transform .1s ease-in-out;
  z-index: 5;
}
.header_choices.choices[data-type*=select-one].is-open:after {
  transform: rotate(180deg) translate(0, 2px);
  margin-top: 0;
}

div.choices__list--dropdown {
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #999999;
}


div.choices__list--dropdown .choices__item {
  padding: 1px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999999;
  background-color: var(--color-black);
}

div.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid #999999;
}
.choices .choices__list .choices__item.is-selected {
  display: none;
}
div.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: #000000;
}

.gallery__form-era {
  display: flex;
  flex-direction: column;
}

/* кастомный чекбокс */

.gallery__checkbox {
  position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.gallery__check-text {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
  transition: color .3s ease-in-out;
}

.gallery__check__label {
  position: relative;
}

/* .gallery__check__label:not(:last-child) {
  margin-bottom: 20px;
} */

.gallery__label-custom-checkbox {
  content: "";
  position: absolute;
  border: 1px solid var(--color-white);
  width: 12px;
  height: 12px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: border-color .3s ease-in-out;;
}

.gallery__label-custom-checkbox::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 3px;
  left: 3px;
  width: 4px;
  height: 4px;
  background-color: #C283F3;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.gallery__checkbox:checked + .gallery__label-custom-checkbox::before  {
  opacity: 1;
}

.gallery__checkbox:checked + .gallery__label-custom-checkbox {
  border-color: #C283F3;
}

.gallery__checkbox:checked + .gallery__check-text {
  color: #C283F3;
}


/* .checkbox:focus + .label__custom__checkbox {
  border-color: #CCB26E;
} */

/* слайдер */
.gallery__swiper .swiper-pagination-fraction {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: var(--color-white);
}

.gallery__swiper-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

.gallery__swiper .swiper-pagination-fraction {
  top: 0;
}

.gallery__swiper .swiper-pagination-fraction {
  padding-left: 50px;
  text-align: start;
}

.swiper-button-prev-gal, .swiper-rtl .swiper-button-next-gal {
  left: 0;
  right: auto;
}

.swiper-button-next-gal, .swiper-rtl .swiper-button-prev-gal {
  right: 0;
  left: 100px;
}

.swiper-button-next-gal, .swiper-button-prev-gal {
  position: absolute;
  top: 3%;
  width: calc(var(--swiper-navigation-size)/ 35 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color,var(--swiper-theme-color));
}

/* слайдер end*/

/* catalog */

.catalog__title {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-like-black);
}

.catalog__text {
  max-width: 1080px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-like-black);
}

.catalog__block-top {
  margin-bottom: 39px;
}

.catalog__block-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.catalog__tabs-content {
  width: 46.87%;
}

.catalog__accordion-content {
  width: 50%;
}

.catalog__tabs-item-content {
  font-size: 0;
}

.catalog__item-period {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-like-black);
}

.catalog__tabs-item-common-text {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.catalog__tabs-item-common-text-title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-like-black);
}

.catalog__tabs-item-common-text-descr {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-like-black);
}

.catalog__tabs-item-common-text-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-toolpit);
}

.catalog__tabs-item-painter-name {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-like-black);
}

.catalog__tabs-item-painter-years {
  margin-bottom: 7px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-grey);
}

.catalog__tabs-item-biography {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-like-black);
}

/* .accordion start*/

.catalog__accordion-top {
  cursor: pointer;
}

.catalog__accordion-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: -1px;
}

.catalog__accordion-btn {
  cursor: pointer;
  border-radius: 100%;
  max-width: 50px;
  width: 100%;
  height: 50px;
  background-color: #ECECEC;
  border: none;
  text-align: center;
  vertical-align: middle;
}

.catalog__accordion-btn svg {
  transition-property: transform;
  transition: .3s ease-in-out;
}

.catalog__accordion-item-painttes:active .catalog__accordion-btn svg {
  transform: rotate(180deg);
}


.catalog__accordion-top:focus-visible {
  outline: 0;
}

.catalog__accordion-top:focus-visible .catalog__accordion-btn {
  background-color: #D1A9F0;
}

.catalog__accordion-top:focus-visible .catalog__item-period {
  color: var(--color-white);
  background-color: #9D5CD0;
}

.catalog__accordion-top:hover {
  border-color: #9D5CD0;
  position: relative;
  z-index: 1;
}

.catalog__accordion-top:hover .catalog__accordion-btn {
  background-color: #D1A9F0;
}

.catalog__accordion-top:hover .catalog__item-period {
  color: #9D5CD0;
}

.catalog__accordion-top.ui-state-active {
  border-color:  #7943A4;
}

.catalog__accordion-top.ui-state-active .catalog__accordion-btn svg {
  transform: rotate(180deg);
}

.catalog__accordion-top.ui-state-active .catalog__accordion-btn {
  border: 2px solid #9D5CD0;
  background-color: #D1A9F0;
}

.catalog__accordion-top.ui-state-active .catalog__item-period {
  color: #7943A4;
}

/*accordion end*/

.catalog__accordion-bottom-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 0;
}

.catalog__tabs-nav-painttes-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 290px;
}

.catalog__tabs-nav-item-paintes {
  margin-right: 60px;
}

.catalog__tabs-nav-item-btn {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-like-black);
}

/* tabs start */
.catalog__tabs-nav-item-btn--active {
  /* цвет нужно поменять */
  color: blue;
}

.catalog__tabs-item {
  display: none;
}

.catalog__tabs-item--active {
  display: block;
}
/* tabs end */


.catalog__accordion-bottom-box {
  margin: 10px;
  margin-right: 34px;
  width: 251px;
  height: 165px;
  background: #B7B7B7;
  outline-offset: 10px;
  outline: 2px solid #B7B7B7;
}

.catalog__accordion-bottom-text {
  max-width: 275px;
}

.catalog__accordion-bottom-text-h4 {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-like-black);
}

.catalog__accordion-bottom-text-p {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-like-black);
}

.catalog__accordion-bottom-text-link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #9D5CD0;
}


/* events */

.events-title {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-like-black);
}

.events__article-item {
  max-width: 500px;
}

.events__article-item-img {
  font-size: 0;
}

.events__article-item {
  font-size: 0;
}

.events__article-item-descr {
  position: relative;
  padding: 13px 50px 45px 50px;
  min-height: 341px;
  border: 1px solid #CACACA;
  border-top: none;
}

.events__article-item-event {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-grey);
}

.events__article-item-title {
  margin-top: 14px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-like-black);
}


.events__article-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-like-black);
}


.events__article-item-link {
  position: absolute;
  left: 50px;
  bottom: 41px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-toolpit);
  border-bottom: 1px solid var(--color-toolpit);
  padding-bottom: 3px;
}

.events__swipper {
  padding-left: 1px;
}

.events__swiper-slide {
  max-width: 500px;
}

.swiper-button-prev-event, .swiper-rtl .swiper-button-prev-event {
  left: 0;
  right: auto;
  transform: rotate(180deg);
}

.swiper-button-next-event, .swiper-rtl .swiper-button-next-event {
  right: -25px;
  left: auto;
}

.swiper-button-next-event, .swiper-button-prev-event {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size)/ 21 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color,var(--swiper-theme-color));
}

/* projects*/
.section-projects {
  padding-bottom: 77px;
}

.projects__title {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-like-black);
}

.projects__descr {
  margin-bottom: 21px;
  max-width: 1078px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-like-black);
}

/* toolpit in projects start*/

.toolpit__btn {
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-toolpit);
  border-radius: 100%;
  font-size: 12px;
  background-color: transparent;
  cursor: pointer;
}

.tippy-box[data-theme~='amethyst'] {
  background-color: var(--color-toolpit);
  color: var(--color-white);
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  border-radius: 0;
  padding: 8px 6px;
}

.tippy-box[data-theme~='amethyst'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: var(--color-toolpit);
}
.tippy-box[data-theme~='amethyst'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: var(--color-toolpit);
}
.tippy-box[data-theme~='amethyst'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: var(--color-toolpit);
}
.tippy-box[data-theme~='amethyst'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: var(--color-toolpit);
}

.toolpit__btn:hover {
  background-color: var(--color-toolpit);
  color: var(--color-white);
}

.tippy-content {
  padding: 0;
}

#tippy-2 {
  width: 264px;
}

#tippy-3 {
  width: 232px;
}

/* toolpit in projects end*/

.projects__title-h3 {
  margin-bottom: 23px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-like-black);
}

.projects__descr-link-text {
  color: var(--color-toolpit);
}

/* стилизация слайдера start */

.projects__image-slides {
  width: 450px;
  height: 150px;
  border: 1px solid #CACACA;
  margin: auto auto;
}


.projects__image-slide {
  position: relative;

}

.projects__image-slide:before {
  content: "sdvd";
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 54%;
  height: 50%;
  transition-property: background-image;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.projects__image-slide--1::before {
  background-image: url('/img/projects/Frame\ 25.svg');
}

.projects__image-slide--1:hover::before,
.projects__image-slide--1:active::before {
  background-image: url('/img/projects/color/project-1.jpg');
}

.projects__image-slide--2::before {
  background-image: url('/img/projects/color/project-b-2.jpg');
}

.projects__image-slide--2:hover::before,
.projects__image-slide--2:active::before {
  background-image: url('/img/projects/color/project-2.jpg');
}

.projects__image-slide--3::before {
  background-image: url('/img/projects/color/project-b-3.jpg');
}

.projects__image-slide--3:hover::before,
.projects__image-slide--3:active::before {
  background-image: url('/img/projects/color/project-3.jpg');
}

.projects__image-slide--4::before {
  background-image: url('/img/projects/color/project-b-4.jpg');
}

.projects__image-slide--4:hover::before,
.projects__image-slide--4:active::before {
  background-image: url('/img/projects/color/project-4.jpg');
}

.projects__image-slide--5::before {
  background-image: url('/img/projects/color/project-b-5.jpg');
}

.projects__image-slide--5:hover::before,
.projects__image-slide--5:active::before {
  background-image: url('/img/projects/color/project-5.jpg');
}

.projects__image-slide--6::before {
  background-image: url('/img/projects/color/project-b-6.jpg');
}

.projects__image-slide--6:hover::before,
.projects__image-slide--6:active::before {
  background-image: url('/img/projects/color/project-6.jpg');
}

.projects__image-slide--7::before {
  background-image: url('/img/projects/color/project-b-7.jpg');
}

.projects__image-slide--7:hover::before,
.projects__image-slide--7:active::before {
  background-image: url('/img/projects/color/project-7.jpg');
}

.projects__image-slide--8::before {
  background-image: url('/img/projects/color/project-b-8.jpg');
}

.projects__image-slide--8:hover::before,
.projects__image-slide--8:active::before {
  background-image: url('/img/projects/color/project-8.jpg');
}

.projects__image-slide--9::before {
  background-image: url('/img/projects/color/project-b-9.jpg');
}

.projects__image-slide--9:hover::before,
.projects__image-slide--9:active::before {
  background-image: url('/img/projects/color/project-9.jpg');
}

.projects__image-slide:active {
  border-color: var(--color-toolpit);
}


.projects__image-slide img {
  max-width: 100%;
}

body > main > section.section-projects.section-offset > div > div {
  padding-left: 75px;
  padding-right: 75px;
}

.swiper-button-prev-my, .swiper-rtl .swiper-button-next-my {
  left: 0;
  right: auto;
}

.swiper-button-next-my, .swiper-rtl .swiper-button-prev-my {
  right: 0;
  left: auto;
}

.swiper-button-next-my, .swiper-button-prev-my {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color,var(--swiper-theme-color));
}

/*стилизация слайдера end  */



/* contacts */

.section-contacts {
  border: 1px solid #CACACA;
  padding-top: 37px;
  padding-bottom: 41px;
}

.contacts__block-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contacts__app {
  display: flex;
  flex-direction: column;
}

.contacts__list-app {
  display: flex;
  flex-direction: row;
}

.contacts__adress-1 {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-like-black);
}

.contacts__adress-2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-like-black);
}


/* кастомный form */

.contacts__form {
  display: flex;
  flex-direction: row;
  position: relative;
}

.contacts__form-group {
  display: flex;
  position: relative;
}

.contacts__form-group:not(:last-child) {
  margin-right: 20px;
}

.contacts__form-input {
  width: 270px;
  border: 1px solid var(--color-like-black);
  border-radius: 100px;
  padding: 8px 32px 8px 23px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-like-black);
  transition-property: background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.js-validate-error-label {
  order: -1;
  position: absolute;
  transform: translateY(-120%);
  left: 21px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #D11616;
}

.contacts__form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #999999;
}

.contacts__form-btb {
  cursor: pointer;
  padding: 10.5px 33px;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #9D5CD0;
  background-color: var(--color-white);
  transition-property: outline, background-color, color, outline-offset;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.contacts__form-btb:focus-visible {
  outline-offset: 3px;
  outline: 2px solid var(--color-hover);
}

.contacts__form-btb:hover {
  outline: none;
  background-color: var(--color-toolpit);
  color: var(--color-white);
}

.contacts__form-btb:active {
  background-color: var(--color-focus-active);
  outline: 3px solid #D1A9F0;
  outline-offset: -3px;
}


.contacts__form-input:focus-visible,
.contacts__form-input:hover {
  background-color: #EAEAEA;
  outline: none;
}

.contacts__form-input:active {
  background-color: transparent;
}


.contacts__list-app-title {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-like-black);
}

.contacts__item-app {
  font-size: 0;
}

.contacts__item-app:not(:last-child) {
  margin-right: 20px;
}

.contacts__item-app-link {
  transition: opacity .3s ease-in-out;
}

.contacts__item-app-link:focus-visible {
  outline: none;
  opacity: 0.5;
}

.contacts__item-app-link:hover {
  opacity: 0.5;
}

.contacts__item-app-link svg {
  border-radius: 20px;
  transition-property: opacity, outline;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.contacts__item-app-link:active {
  opacity: 1;
}

.contacts__item-app-link:active svg {
  outline: 1px solid #9643a4;
  opacity: 1;
}

.contacts__map-1 {
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/* footer */

.footer {
  background-color: var(--color-black);
  padding-top: 49px;
  padding-bottom: 47px;
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__logo-link {
  margin-right: auto;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0;
}

.footer__social-item:not(:last-child) {
  margin-right: 20px;
}

.footer__social-item-link {
  transition: outline .3s ease-in-out;
}

.footer__social-item-link path {
  transition: fill .3s ease-in-out;
}

.footer__social-item-link:focus-visible {
  outline: none;
}

.footer__social-item-link:hover path,
.footer__social-item-link:focus-visible path {
  fill: var(--color-white)
}

.footer__social-item-link:active path {
  fill: var(--color-toolpit);
}



